/* Estiliza container dos cards de pokémons */
.section-pokemon-list {
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
  border: 0.4rem solid #1e3064;
}

.pagination-section {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button {
  font-weight: bold;
  border: 0.15rem solid #1e3064;
  background-color: azure;
  border-radius: 0.7rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.2s ease;
}

.button:active {
  transform: scale(0.95);
  background-color: #8bb6d8;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 1024px) {
  /* Estiliza container dos cards de pokémons */
  .section-pokemon-list {
    margin: 0.5rem;
    padding: 0.8rem;
  }
}

@media (min-width: 1440px) {
  /* Estiliza container dos cards de pokémons */
  .section-pokemon-list {
    margin: 1rem;
    padding: 1rem;
  }
}
