/* Estiliza o elemento <header> */
header {
  width: 100%;
}

/* Estiliza o container do logo */
.logo-container {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
  border: 0.4rem solid #1e3064;
}

/* Estiliza o logo central */
.pkm {
  width: 60%;
}

/* Estiliza as imagens da pokebola */
.pkmball {
  width: 10%;
}

/* Responsividade para telas médias */
@media (min-width: 1024px) {
  .logo-container {
    margin: 0.5rem;
    padding: 0.8rem;
  }
}

/* Responsividade para telas grandes */
@media (min-width: 1440px) {
  .logo-container {
    margin: 1rem;
    padding: 1rem;
  }
}