/* Estiliza o card individual do Pokémon */
.pokemon-card {
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
  border: 0.2rem solid #1e3064;
}

/* Container do número do Pokémon */
.pokemon-number-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Estiliza o número do Pokémon */
.pokemon-number-container p {
  color: aliceblue;
  background-color: black;
  border-radius: 10rem;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3rem;
}

/* Container do nome do Pokémon */
.pokemon-name-container {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

/* Responsividade para telas médias */
@media (min-width: 1024px) {
  .pokemon-card {
    margin: 0.5rem;
    padding: 0.8rem;
  }
}

/* Responsividade para telas grandes */
@media (min-width: 1440px) {
  .pokemon-card {
    margin: 1rem;
    padding: 1rem;
  }
}