/* Reset geral de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  width: 100%;
  height: 100%;
}

/* Estilo base do body */
body {
  background-color: #ff695b;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Estilo para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Estilo para listas */
ul, ol {
  list-style: none;
}

/* Estilo para botões */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Estilo para inputs e textareas */
input, textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

/* Estilo para títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}