/* ===== RESET GERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  width: 100%;
  height: 100%;
}

/* ===== Body ======= */
body {
  background-color: #ff695b;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* ===== LINKS ===== */
a {
  text-decoration: none;
  color: inherit;
}

/* ===== LISTAS ===== */
ul, ol {
  list-style: none;
}

/* ===== BOTÕES ===== */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* ===== INPUTS E TEXTAREAS ===== */
input, textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

/* ===== HEADINGS ===== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}